@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env:securesocial.core.RuntimeEnvironment[neo4j.models.users.NeoUser])

@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword


@main(Messages("securesocial.login.title")) {
  <div class="jumbotron indexJumpotron">
    <h1>@Messages("securesocial.login.title")</h1>
    <div class="container">
      @errorMsg.map { msg =>
        @twbs.alerts.html.alertDanger() {
          @Messages(msg)
        }
      }

        @defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>

            @if( externalProviders.size > 0 ) {
                <div class="clearfix">
                    <p>@Messages("securesocial.login.instructions")</p>
                    <p>
                    @for(p <- externalProviders) {
                        @views.html.auth.provider(p.id)
                    }
                    </p>
                </div>
            }

            @env.providers.get(UsernamePassword).map { up =>
                <div class="clearfix">
                    @if( externalProviders.size > 0 ) {
                        <p>@Messages("securesocial.login.useEmailAndPassword")</p>
                    } else {
                        <p>@Messages("securesocial.login.useEmailAndPasswordOnly")</p>
                    }

                    @views.html.auth.provider("userpass", Some(loginForm))
                </div>
            }
        }
    </div>
  </div>
}