@(providerId: String, loginForm: Option[Form[(String, String)]] = None)(implicit request: play.api.mvc.RequestHeader)


@import securesocial.core.Registry
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.utils.RoutesHelper
@import play.api.Logger
@import views.html.twbs.formhelper._

@Registry.providers.get(providerId).map { provider =>
    @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {


        @defining(if(provider.id == "google") { "google-plus" } else { provider.id }) { providerIcon =>
          <a href="@provider.authenticationUrl" class="socialBig btn btn-info">
            <i class="fa icon-large fa-@providerIcon"></i>
          </a>
        }

    }

    @if( provider.authMethod == UserPassword) {
        <form action = "@securesocial.core.providers.utils.RoutesHelper.authenticateByPost("userpass").absoluteURL(IdentityProvider.sslEnabled)(request)" class="form-inline" autocomplete="off" method="POST">
                @if( UsernamePasswordProvider.withUserNameSupport ) {
                    @twbs.formhelper.inputText(
                        loginForm.get("username"),
                        'placeholder -> Messages("securesocial.signup.username"),
                        '_hideLabel -> true,
                        '_hideInfo -> true
                    )
                } else {
                    @twbs.formhelper.inputText(
                        loginForm.get("username"),
                        'placeholder -> Messages("securesocial.signup.email1"),
                        '_hideLabel -> true,
                        '_hideInfo -> true
                    )
                }

                @twbs.formhelper.inputPassword(
                    loginForm.get("password"),
                    'placeholder -> Messages("securesocial.signup.password1"),
                    '_hideLabel -> true,
                    '_hideInfo -> true
                )


                <button type="submit" class="btn btn-primary">@Messages("securesocial.login.title")</button>


                <div class="clearfix">
                    <a href="@securesocial.core.providers.utils.RoutesHelper.startResetPassword()"><p>@Messages("securesocial.login.forgotPassword") </a></p>
                </div>
                <div class="clearfix">
                    <p>@Messages("securesocial.login.signUp") <a href="@securesocial.core.providers.utils.RoutesHelper.startSignUp()">@Messages("securesocial.login.here")</a></p>
                </div>

        </form>
    }
}.getOrElse {
    @*****************************************
    * Todo: throw a runtime exception? this might need improvement
    *****************************************@
    @Logger.error("[securesocial] unknown provider '%s'. Can't render it.".format(providerId))
    { throw new RuntimeException("Unknown provider '%s') }
}