@(signUpForm:Form[securesocial.controllers.RegistrationInfo], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[neo4j.models.users.NeoUser])
@import views.html.helper.CSRF
@import securesocial.core.providers.UsernamePasswordProvider




@main(Messages("securesocial.signup.title")) {

  <div class="jumbotron indexJumpotron">
    <h1>@Messages("securesocial.signup.title")</h1>
    <div class="container">
      <form action="@env.routes.handleSignUpUrl(mailToken)" class="form" autocomplete= "off" method="POST">

        @CSRF.formField


        <div class="row">
        @if(UsernamePasswordProvider.withUserNameSupport) {
          @twbs.formhelper.html.inputText(
            signUpForm("userName"),
            'placeholder -> Messages("securesocial.signup.username"),
            '_hideLabel -> true
          )
        }

        @twbs.formhelper.html.inputText(
          signUpForm("firstName"),
          'placeholder -> Messages("securesocial.signup.firstName"),
          '_hideLabel -> true

        )

        @twbs.formhelper.html.inputText(
          signUpForm("lastName"),
          'placeholder -> Messages("securesocial.signup.lastName"),
          '_hideLabel -> true

        )
        </div>

        <div class="row">
        @twbs.formhelper.html.inputPassword(
          signUpForm("password.password1"),
          'placeholder -> Messages("securesocial.signup.password1"),
          '_hideLabel -> true
        )


        @twbs.formhelper.html.inputPassword(
          signUpForm("password.password2"),
          'placeholder -> Messages("securesocial.signup.password2"),
          '_hideLabel -> true
        )
        </div>

        <button type="submit" class="btn btn-default">@Messages("securesocial.signup.createAccount")</button>
        <a class="btn btn-primary" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>


      </form>

    </div>
  </div>
}