@(startForm: Form[String])(implicit request: RequestHeader)
@import views.html.twbs._
@import securesocial.core.IdentityProvider


@main(Messages("securesocial.signup.title")) {

  <div class="jumbotron indexJumpotron">
    <h1>@Messages("securesocial.signup.title")</h1>
    <div class="container">
      <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)" class="form-inline" autocomplete="off" method="post">

        @formhelper.inputText(
          startForm("email"),
          'placeholder -> Messages("securesocial.signup.email1"),
          '_hideInfo -> true,
          '_hideLabel -> true
        )

        <button type="submit" class="btn btn-default">@Messages("securesocial.signup.createAccount")</button>
        <a class="btn btn-primary" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>

      </form>
    </div>
  </div>
}