@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[neo4j.models.users.NeoUser])
@import views.html.helper.CSRF


@main(Messages("securesocial.signup.title")) {
  <div class="jumbotron indexJumpotron">
    <h1>@Messages("securesocial.signup.title")</h1>
    <div class="container">
      <form action="@env.routes.handleStartSignUpUrl" class="form-inline" autocomplete="off" method="post">

        @CSRF.formField

        @twbs.formhelper.html.inputText(
          startForm("email"),
          'placeholder -> Messages("securesocial.signup.email1"),
          '_hideInfo -> true,
          '_hideLabel -> true
        )

        <button type="submit" class="btn btn-default">@Messages("securesocial.signup.createAccount")</button>
        <a class="btn btn-primary" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>

      </form>
    </div>
  </div>
}