@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[neo4j.models.users.NeoUser])
@import views.html.helper.CSRF


@main( Messages("securesocial.password.title") ) {

    <form action="@env.routes.handleStartResetPasswordUrl"
          class="form-horizontal"
          autocomplete="off"
          method="POST">

        @CSRF.formField

        <fieldset>
            @twbs.formhelper.html.inputText(
              startForm("email"),
              '_label -> Messages("securesocial.signup.email1")
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-default">@Messages("securesocial.password.reset")</button>
                <a class="btn" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
            </div>

        </fieldset>
    </form>
}